@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Doto';
    src: url('/assets/fonts/Doto/Doto-VariableFont_ROND,wght.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: normal;
}


* {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}



.tulisan-logo{
    color: #F5E8D7;
    font-family: Doto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tulisan-logo-2{
    color: #F5E8D7;
    font-family: Doto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gradient-text {
    background: linear-gradient(90deg, #2FE559, #038AFF);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
}